body {
	background-color: #ecf0f1;
	height: 100vh;
	width: 100vw;
}
.myNav {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 17px;
    display: flex;
    justify-content: space-around;
    background-color: #BDC3C7;
    padding: 10px;
    width: 100vw;
    box-shadow: 2px 2px 10px #EEEEEE;
    margin: -10px -10px 20px -10px
}

.jumbotron {
	font-size:35px;
	letter-spacing: 2px;
	font-family: 'Alegreya Sans SC', sans-serif;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	border: solid 2px black;
	text-align:center;
	padding: 20px;
	border-radius: 5px;
	margin: 10px 20px 10px 20px;
}
.link{
	border: solid 1px black;
	width: 25%;
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.link:hover{
	background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
	cursor: pointer;
	border-bottom: solid 3px black;
	
}

.about {
  font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;
	background-color:#8e44ad;
	border: 2px solid black;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
	text-align:center;
}

.resume{
	font-family: 'Actor', sans-serif;
font-size: 15px;
 background-color:#7f8c8d;
 border: 2px solid black;
 padding: 15px;
 border-radius: 5px;
 text-align:center;
}

.projects{
	font-family: 'Bree Serif', serif;
	background-color:#9b59b6;
	border: 2px solid black;
	padding: 15px;
	border-radius: 5px;
  text-align:center;
}
.resume-card {
	width: 27%;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
.icon-circle {
	border-radius: 5px;
	background-color:purple;
	width:100px;
	height:100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service-icon {
	font-family: 'Bree Serif', serif;
	font-size: 70px;
	color:white;
}

.resume-card-container{
	display: flex;
	justify-content: space-around;
}

.project-card {
	width: 33.333%;
	border: 1px solid black;
	display:flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:white;
	border-radius:5px;
}

img {
	max-width: 80%;
}

.project-card-container {
	display: flex;
	justify-content: space-around;
}